div.wrapper(ng-controller="ProjectValuesSectionController")
    sidebar.menu-secondary.sidebar(tg-admin-navigation="project-values")
        include ../includes/modules/admin-menu

    sidebar.menu-tertiary.sidebar(tg-admin-navigation="values-custom-fields")
        include ../includes/modules/admin-submenu-project-values

    section.main.admin-common.admin-attributes
        include ../includes/components/mainTitle
        p.admin-subtitle(translate) Specify the custom fields for your user stories, tasks and issues

        div.admin-attributes-section(tg-project-custom-attributes,
                                     ng-controller="ProjectCustomAttributesController as ctrl",
                                     ng-init="type='userstory'; customFieldSectionTitle=('User stories custom fields' | translate); customFieldButtonTitle=('Add a custom field in user stories' | translate)")
            include ../includes/modules/admin/admin-custom-attributes

        div.admin-attributes-section(tg-project-custom-attributes,
                                     ng-controller="ProjectCustomAttributesController as ctrl",
                                     ng-init="type='task'; customFieldSectionTitle=('Tasks custom fields' | translate); customFieldButtonTitle=('Add a custom field in tasks' | translate)")
            include ../includes/modules/admin/admin-custom-attributes

        div.admin-attributes-section(tg-project-custom-attributes,
                                     ng-controller="ProjectCustomAttributesController as ctrl",
                                     ng-init="type='issue'; customFieldSectionTitle=('Issues custom fields' | translate); customFieldButtonTitle=('Add a custom field in issues' | translate)")
            include ../includes/modules/admin/admin-custom-attributes
